//Text variables
$font-size-sm: 12px;
$font-size-base: 14px;
$font-size-lg: $font-size-base+2px;
$font-weight-semi-light: 300;
$font-color-light: #000000BF;
$text-color: rgba(0, 0, 0, 0.75);
$text-color-secondary: rgba(0, 0, 0, 0.5);
$text-color-form: #262626;
$text-color-gray: #595959;



//Color variables
$background-color-base: #FFFFFF;
$background-color-back: #EBEEF3;
$heading-color: #000000D9;
$heading-color-hovering: rgba(0, 0, 0, 0.64);
$success-color: #52C41A;
$success-color-hovering: rgb(46, 122, 15);
$font-color-h5-header: rgb(24, 144, 255);
$border-gray-color: #E8E8E8;


//Shadows
$shadow-article: 0px 4px 10px 0px rgba(0,0,0,0.15);