@import "../../../styles/variables";

.tag {
  height: 20px;
  display: flex;
  align-items: center;
  padding: 0 6px;
  border: 1px solid $text-color-secondary;
  border-radius: 2px;
  color: $text-color-secondary;
  margin-bottom: 5px;
  font-size: $font-size-sm;
  line-height: 15px;
}