@import "styles/variables";

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: $background-color-back;
}

.App {
  margin: 0 auto;
  max-width: 1440px;
  display: flex;
  flex-direction: column;
}